# Ignore editor settings
.vscode/

# Streamlit state
.streamlit/

# TEI and raw data
tei/
data/

# Python env
.venv*/
env/

# Python cache
__pycache__/

# Secrets and config
.env
*.secret

# Raw/large files
*.csv
*.tei.xml

# OS files
.DS_Store

# Generated outputs
CIDOC_Timeline_Mappings.ttl
Extracted_Historical_Entities.xlsx

# PHP dependencies
vendor/

# Vector store
vector_store/